<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cadastro de filme</title>
</head>
<body>
<h1>Cadastro de filme</h1>
<form method="post">
    <label for="nome">Nome:</label>
    <input id="nome" name="nome">

    <br/>

    <label for="duracao">Duração (em minutos):</label>
    <input id="duracao" name="duracao">

    <br/>

    <label for="ano">Ano de lançamento:</label>
    <input id="ano" name="ano">

    <br/>

    <label for="genero">Gênero:</label>
    <input id="genero" name="genero">

    <br/>

    <input type="submit" value="Cadastrar">
</form>
</body>
</html>